h1{
    text-align: center;

}
form{
    border: 3px solid rgb(86, 81, 82);
    border-radius: 7px;
    margin: 0px 550px;
    box-shadow: 40px gray;
}
.form-style{
    margin: 10px auto;
    width: 400px;
    padding: 20px 10px 10px 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style td{
    padding: 0px;
    display: block;
    margin: 10px 0 0 0;
}
.form-style label{
    margin: 0 0 30px 0;
    padding: 0;
    display: block;
    font-weight: bold;
}
.form-style .required{
    color: red;
}

.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    box-shadow: none;
    background: #4eb5f1;
    -moz-box-shadow:none;
    -webit-box-shadow:none;
}
.form-style .field-textarea{
    height: 120px;
}
.form-style input[type=text], .form-style input[type=email], textarea{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
border: 1px solid #bebebe;
padding:  7px;
margin: 0;
transition: all 0.5s ease-in-out;
outline: none;
}
.form-style input[type=text]:focus, .form-style input[type=email]:focus, textarea:focus{
    box-shadow: 0 0 8px #88d5e9;
    border: 3px solid #88d5e9;
}
.error{
    color: #d8000c;
    background-color: #ffbaba;
}